<div class="container">
  <div class="row">
    <div class="col-6 p-3">
      <img
        src="./image/user-about.png"
        width="300"
        alt="user-author"
        class="img-fluid"
      />
    </div>
    <div class="col-6">
      <div><h3>Họ tên: Nguyễn Quốc Nhật</h3></div>
      <div><h3>Nghề nghiệp: Sinh viên</h3></div>
      <div><h3>Học tại: Hutech</h3></div>
    </div>

    <div class="col-6 p-3">
      <img
        src="./image/user-about.png"
        width="300"
        alt="user-author"
        class="img-fluid"
      />
    </div>
    <div class="col-6">
      <div><h3>Họ tên: Châu Trọng Nhân</h3></div>
      <div><h3>Nghề nghiệp: Sinh viên</h3></div>
      <div><h3>Học tại: Hutech</h3></div>
    </div>
  </div>
</div>