<div class="container">
  <div class="row">
    <div class="col-12 p-3 mt-3 border-3" style="background-color: #00a9da;">The
      Loai</div>
    <div class="col-12 p-3 mt-3 border-3">
      <div class="card p-2" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    </div>

  </div>
</div>