<div class="login container">
  <div class="row">
     <div class="col-12  d-flex justify-content-center">
       <div class="card p-4 mt-3 mb-3" style="width: 30rem">
        <section className="login-container">
          <div className="login-title" class="col-12 d-flex justify-content-center"> Đăng nhập</div>
            <form method="post" action="/userhome">
            {{! <table style="font-size:100%" width="100%">
          <tr>
            <td><label>EMAIL</label></td>
            <td><input
                type="email"
                name="email"
                placeholder="Enter your username"
              /></td>
          </tr>
          <tr>
            <td><label>PASSWORD</label></td>
            <td><input
                type="password"
                name="password"
                placeholder="Enter your password"
              /></td>
          </tr>
        </table>
        <h3 style="text-align: center; margin: 10px;">
          <button type="submit"> Continue </button>
        </h3> }}
            <label>EMAIL</label>
            <input
              type="email"
              name="email"
              placeholder="Tài khoản"
              required
            />
            <br />
            <label>MẬT KHẨU</label>
            <input
              type="password"
              name="password"
              placeholder="Mật khẩu"
              required
            />
            <button type="submit" > Đăng nhập </button>
          </form>
          <div className="login-register" class="col-12 d-flex justify-content-center"> Bạn chưa có tài khoản? </div>
          <div className="login-register-link" class="col-12 d-flex justify-content-center"><a href="/register">Bấm vào đây để tạo tài khoản</a>
          
          </div>
           <div className="login-register-link" class="col-12 d-flex justify-content-center"><h5><a href="/forgot">Quên mật khẩu</a></h5>
        </section>
      </div>
    </div>
  </div>
</div>