<div class="card p-5 m-5" style="width: 40rem">
  <div class="login">
    <section className="login-container">
      <div className="login-title"> Register</div>
      <form method="post" action="/register">
        {{! <table style="font-size:100%" width="100%">
          <tr>
            <td><label>EMAIL</label></td>
            <td><input
                type="email"
                name="email"
                placeholder="Enter your username"
              /></td>
          </tr>
          <tr>
            <td><label>PASSWORD</label></td>
            <td><input
                type="password"
                name="password"
                placeholder="Enter your password"
              /></td>
          </tr>
        </table>
        <h3 style="text-align: center; margin: 10px;">
          <button type="submit"> Continue </button>
        </h3> }}
        <label>EMAIL</label>
        <input
          type="email"
          name="email"
          placeholder="Enter your username"
          required
        />
        <br />
        <label>PASSWORD</label>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
          required
        />
        <button type="submit"> Continue </button>
      </form>
    </section>
  </div>
</div>