<!-- Main content -->
<!-- Welcome -->
<!-- About Us -->
<div id="about">
  <div class="container-fluid p-2">
    <div class="row text-center border-2 p-2 m-2">
      <div class="col-12">
        <h1>
          <span style="color: #c471ed">Book-Tells-Me</span>
        </h1>
      </div>
      <div class="col-md-6 col-xs-12 d-flex flex-column justify-content-center">
        <p style="color: black">
          Book-Tells-Me là một tủ sách dành cho người Việt Nam.
        </p>
        <p style="color: black">
          Book-Tells-Me phù hợp với mọi lứa tuổi.
        </p>
        <p style="color: black">
          Chúng tôi hướng đến việc xây dựng một cộng đồng những người thích đọc sách.
        </p>
        <p style="color: black">
          Cảm ơn bạn đã sử dụng sản phẩm của chúng tôi.
        </p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img
          src="./image/reading-book.webp"
          class="img-fluid"
          alt="reading-book"
        />
      </div>
    </div>
  </div>
</div>

  <!-- Sách có lượt xem cao trong tháng -->
<div id="TopView">
  <div class="container-fluid p-2">
    <div class="row text-center d-flex flex-row justify-content-center">
      <div class="col-12">
        <hr />
        <h2>Sách có lượt xem cao trong tháng</h2>
      </div>

      <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    
    <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
  
    
    <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>

      <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>

    </div>
  </div>
</div>

  <!-- Sách có lượt đánh giá cao -->
<div id="TopRate">
  <div class="container-fluid p-2">
    <div class="row text-center d-flex flex-row justify-content-center">
      <div class="col-12">
        <hr />
        <h2>Sách có lượt đánh giá cao</h2>
      </div>

      <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    
    <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    
    <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>

<!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>

    </div>
  </div>
</div>

  <!-- Sách mới cập nhật -->
<div id="New">
  <div class="container-fluid p-2">
    <div class="row text-center d-flex flex-row justify-content-center">
      <div class="col-12">
        <hr />
        <h2>Sách mới cập nhật</h2>
      </div>

      <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    
    <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    
    <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>

<!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>

    </div>
  </div>
</div>

  <!-- Sách đã xem -->
<div id="watched">
  <div class="container-fluid p-2">
    <div class="row text-center d-flex flex-row justify-content-center">
      <div class="col-12">
        <hr />
        <h2>Sách đã xem</h2>
      </div>

      <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    
    <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    
    <!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>

<!--  -->
      <div class="card p-2 m-4" style="width: 14rem">
        <img
          class="card-img-top"
          src="./image/anh-test.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Tên tác giả</h5>
          <p class="card-text">1 vài thông tin</p>
          <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-md-12 col-xs-12">
      <div class="row text-center d-flex flex-row justify-content-center">
        <img
          src="./image/pic6.jpg"
          class="img-fluid"
        />
        </div>
      </div>