<!-- Footer -->
<footer style="background-color: rgb(249, 199, 98);">
  <hr />
  <div class="container-fluid p-4">
    <div class="row text-center">
      <div class="col-md-4 col-xs-12">
        <i><img
            src="./image/write-book.webp"
            class="img-fluid"
            width="120"
            alt="write-book"
          /></i>
        <h3>Book-Tells-me</h3>
      </div>

      <div class="col-md-4 col-xs-12">
        <h3>Follow</h3>
        <h4 class="mt-3">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter-square"></i>
          <i class="fa-brands fa-google-plus"></i>
          <i class="fa-brands fa-instagram-square"></i>
        </h4>
      </div>

      <div class="col-md-4 col-xs-12">
        <h3>Contact</h3>
        <h4><i class="fa-solid fa-phone"></i> 0988653312</h4>
        <h4>
          <i class="fa-solid fa-map-location-dot"></i>
          Thủ Đức, Tp.HCM
        </h4>
      </div>
    </div>
  </div>
</footer>