<!-- Navigation -->
<nav
  class="navbar navbar-light bg-light justify-content-between"
  style="opacity: 0.9"
>
  <a class="navbar-brand logo-text">Book-Tells-Me</a>
  <form class="form-inline" action="/search">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Tìm Kiếm"
      aria-label="Search"
      name="nameBook"
    />
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
      Tìm Kiếm
    </button>
  </form>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top border-1">
  <a class="navbar-brand" href="#"><img
      src="./image/branch.gif"
      height="50"
      alt="branch-book"
      class="image-fluid"
    /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Trang Chủ
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          data-target="dropdown_target"
          href="#"
        >Thể Loại
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown_target">
          {{! <a href="#" class="dropdown-item">Hài hước</a>
          <a href="#" class="dropdown-item">Kinh dị</a>
          <a href="#" class="dropdown-item">Lãng mạn</a> }}
          {{#each genres}}
            <a
              href="{{this.slugGenres}}"
              class="dropdown-item"
            >{{this.nameGenres}}</a>

          {{/each}}
        </div>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/login">Đăng Nhập</a>
      </li> -->
    </ul>
  </div>
</nav>