<div class="container">
  <div class="row">
    <div class="col-12 p-3 d-flex justify-content-around align-items-center">
      <a href="/create" style="color: green;"><b>Thêm sách mới</b></a>
      <img
        src="./image/create-book.gif"
        width="300"
        alt="create-book"
        class="image-collapse"
      />
    </div>

    <div class="col-12 p-3 d-flex justify-content-around align-items-center">
      <a href="/admin" style="color: red;"><b>Sửa sách</b></a>
      <img
        src="./image/update-book.gif"
        width="300"
        alt="update-book"
        class="image-collapse"
      />
    </div>
  </div>
</div>