/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font family */
body {
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
}


/* header */

.border-1 {
    border-bottom: 1px solid #777;
    box-shadow: 0px 2px 1px #999;
    opacity: 0.9;
}

.logo-text {
    color: #ec0ca1 !important;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
}

.navbar {
    background-image: linear-gradient(to right, #fad39e, #c471ed) !important;
}

.navbar li {
    padding: 4px;
}

.navbar li a {
    color: rgb(29, 42, 220) !important;
}

.navbar li a:hover {
    color: rgb(239, 141, 13) !important;
    text-decoration: underline;
}


/* container */
.border-2 {
    border: 1px solid rgb(255, 0, 242);
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(208, 16, 225);
}

.border-3 {
    border: 1px solid rgb(43, 255, 0);
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(16, 197, 225);
}


/* card-generics */
.card-generics {
    width: 300px;
    height: 280px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.card-generics * {
    transition: 0.3s ease all;
}

.card-generics img {
    margin: 0;
    width: 300px;
    height: 224px;
    object-fit: cover;
    display: block;
}

.card-generics h3 {
    margin: 0;
    padding: 12px 12px 48px;
    line-height: 32px;
    font-weight: 500;
    font-size: 20px;
}

.card-generics .focus-content {
    display: block;
    padding: 8px 12px;
}

.card-generics p {
    margin: 0;
    line-height: 1.5;
}

.card-generics:hover img,
.card-generics:focus-within img {
    margin-top: -80px;
}

.card-generics:hover h3,
.card-generics:focus-within h3 {
    padding: 8px 12px 0;
}

/* background template */

.background-template {
    background-image: url('./background-generics.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

/* footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}